<configuration debug="false">
  <springProperty name="host" source="logstash.host" defaultValue="localhost" />
  <springProperty name="portTcp" source="logstash.port.tcp" defaultValue="9600" />
  <springProperty name="portUdp" source="logstash.port.udp" defaultValue="9514" />

  <springProfile name="logstash-udp">
    <appender name="stash" class="net.logstash.logback.appender.LogstashSocketAppender">
      <host>${host}</host>
      <port>${portUdp}</port>
    </appender>
  </springProfile>

  <springProfile name="logstash-tcp">
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>${host}:${portTcp}</destination>

      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
  </springProfile>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <root level="info">
    <appender-ref ref="stdout" />
    <springProfile name="logstash-tcp | logstash-udp">
      <appender-ref ref="stash" />
    </springProfile>
  </root>
</configuration>
