<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  xmlns:togglz="https://github.com/heneke/thymeleaf-extras-togglz">
<head>
<meta charset="UTF-8" />
<title>Togglz</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>
  <h1>Features</h1>
  <ul>
    <li togglz:active="FEATURE_A"><a th:href="@{/feature/FEATURE_A}">Feature A</a></li>
    <li togglz:active="FEATURE_B"><a th:href="@{/feature/FEATURE_B}">Feature B</a></li>
    <li togglz:active="FEATURE_C"><a th:href="@{/feature/FEATURE_C}">Feature C</a></li>
  </ul>
</body>
</html>
