<div ng-controller="TaskListController">
  <h3>Task List</h3>

  <p><a href="#/new-task">New Task</a></p>

  <fieldset>
    <legend>Filter</legend>
    <div>
      <label for="search">By Title</label>
      <input id="search" ng-model="query" />
    </div>
    <div>
      <label for="state">By State</label>
      <select id="state" ng-model="state">
        <option value="">All</option>
        <option value="notdone">Not Done</option>
      </select>
    </div>
  </fieldset>

  <ul>
    <li ng-repeat="task in tasks | taskListFilter:state | filter:query | orderBy:id">
      <span><a href="#/tasks/{{task.id}}" ng-class="{'task-done': task.done}">{{task.title}}</a></span>
    </li>
  </ul>
</div>