.navbar-text {
  padding-right: 0.2rem;
}

.main-content {
  padding-top: 4rem;
}

.spinner-loading {
  display: flex;
  position: absolute;
  top: 20%;
  margin: 0 auto;
  justify-content: center;
}
