<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>
  <h1 th:text="${#messages.msg('login.title')}"></h1>

  <th:block th:if="${error}">
    <span th:text="${#messages.msg('login.error')}" class="failed"></span>
  </th:block>

  <th:block th:if="${logout}">
    <span th:text="${#messages.msg('login.success')}" class="success"></span>
  </th:block>

  <p th:text="${#messages.msg('login.text')}"></p>

  <form action="/login" th:action="@{/login}" method="post">

  <fieldset>
    <div>
      <label th:text="${#messages.msg('login.username')}" for="username"></label>
      <input type="text" name="username" />
    </div>

    <div>
      <label th:text="${#messages.msg('login.password')}" for="password"></label>
      <input type="password" name="password" />
    </div>

    <div>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input name="submit" type="submit" />
    </div>
  </fieldset>

  </form>

</body>
</html>