<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Homepage</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>
  <h1 th:text="#{index.title}"></h1>

  <p th:if="${userCreated}" th:class="success">User <span th:text="${userCreated}"></span> successfully created.</p>

  <p><a href="/login" th:href="@{/login}" th:text="#{index.text.login}"></a></p>

  <p><a href="/register" th:href="@{/register}" th:text="#{index.text.register}"></a></p>
</body>
</html>