<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Books</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>
  <h1>Books</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
    </tr>
    <th:block th:each="book : ${books}">
      <tr>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.description}"></td>
      </tr>
    </th:block>
  </table>
</body>
</html>