<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Hello</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>

  <h1>Validation Example</h1>

  <th:block th:if="${formData}" th:object="${formData}">
    <p><strong>The server has received your submission:</strong></p>
    <p><strong>Short Name = <span th:text="*{shortName}"></span></strong></p>
    <p><strong>Short Integer = <span th:text="*{shortInteger}"></span></strong></p>
    <p><strong>Comment = <span th:text="*{comment}"></span></strong></p>
  </th:block>

  <p>Enter all fields and click on submit.</p>

  <form action="/" th:formaction="@{/}" th:object="${data}" method="post">

  <fieldset>
    <div>
      <label for="shortName">Short Name</label>
      <input type="text" th:field="*{shortName}" />
      <span th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}" th:class="error"></span>
    </div>

    <div>
      <label for="shortInteger">Short Name</label>
      <input type="text" th:field="*{shortInteger}" />
      <span th:if="${#fields.hasErrors('shortInteger')}" th:errors="*{shortInteger}" th:class="error"></span>
    </div>

    <div>
      <label for="comment">Comment</label>
      <textarea name="comment" th:field="*{comment}"></textarea>
      <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" th:class="error"></span>
    </div>
  </fieldset>

  <div>
    <input type="submit" name="submit" />
  </div>

  </form>

</body>
</html>
