<div ng-controller="TaskAddController">
  <h3>Add New Task</h3>

  <fieldset>
    <legend>New Task</legend>
    <div>
      <label for="title">Title</label>
      <input id="title" type="text" ng-model="task.title" />
    </div>
    <div>
      <label for="datetime">Due Date</label>
      <input id="datetime" type="datetime-local" ng-model="task.date" />
    </div>
    <div>
      <label for="text">Text</label>
      <textarea id="text" ng-model="task.text"></textarea>
    </div>
  </fieldset>

  <div>
    <input type="submit" ng-click="saveTask()" />
  </div>

  <p><a href="/">back to task list</a></p>
</div>
