<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Enter Address</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>

  <h1>Enter Address</h1>

  <p>Enter the address where your order should be delivered to.</p>

  <form action="#" th:action="${flowExecutionUrl}" th:object="${address}" method="post">

  <fieldset>
    <div>
      <label for="firstName">First Name</label>
      <input type="text" th:field="*{firstName}" />
      <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="error"></span>
    </div>

    <div>
      <label for="lastname">Last Name</label>
      <input type="text" th:field="*{lastName}" />
      <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="error"></span>
    </div>

    <div>
      <label for="street">Street</label>
      <input type="text" th:field="*{street}" />
      <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" th:class="error"></span>
    </div>

    <div>
      <label for="postal">Postal</label>
      <input type="text" th:field="*{postal}" />
      <span th:if="${#fields.hasErrors('postal')}" th:errors="*{postal}" th:class="error"></span>
    </div>

    <div>
      <label for="city">City</label>
      <input type="text" th:field="*{city}" />
      <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:class="error"></span>
    </div>
  </fieldset>

  <div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" name="_eventId_submit" />
  </div>

  </form>

</body>
</html>
