<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Order Placed</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>

  <h1>Order Placed</h1>

  <p>Your order was successfully placed.</p>

  <p>You can now return to the <a href="/" th:href="@{/}">index page</a> to place another order or if you want to view or cancel the just created order.</p>

</body>
</html>
