<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Choose Payment Type</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>

  <h1>Choose Payment Type</h1>

  <p>Please select your preffered payment type and click next.</p>

  <form action="#" th:action="${flowExecutionUrl}" th:object="${payment}" method="post">

  <fieldset>
    <div>
      <label for="type">Payment Type</label>
      <select th:field="*{type}">
        <option th:each="type : ${T(com.gmail.unmacaque.spring.webflow.order.PaymentType).values()}" th:value="${type}"
          th:text="#{__${type.value}__}"></option>
      </select>
      <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" th:class="error"></span>
    </div>
  </fieldset>

  <div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" name="_eventId_cancel" th:value="#{order.transition.cancel}" />
    <input type="submit" name="_eventId_submit" />
  </div>

  </form>

</body>
</html>
