<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Spring Mobile</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../../css/spring.css" />
<script th:src="@{/js/mobile.js}" src="../../../js/mobile.js"></script>
</head>
<body>

  <h1>Mobile</h1>

  <ul>
    <li>Device: <em th:inline="text">[[${device}]]</em></li>
    <li>Device Platform: <em th:inline="text">[[${platform}]]</em></li>
  </ul>

  <p th:unless="${sitePreferenceSet}">
    Spring Mobile has deemed that the <strong>mobile</strong> version of this page is optimized for your current device.
  </p>

  <p th:if="${sitePreferenceSet}">
    You have previously selected the <strong>mobile</strong> version as the preferred view.
    <a href="#" onclick="deleteSitePreference();">Click here to delete site preference.</a>
  </p>

  <p>
    <a href="/?site_preference=normal">Regular Version</a> |
    <strong>Mobile Version</strong> |
    <a href="/?site_preference=tablet">Tablet Version</a>
  </p>

</body>
</html>
