<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Hello</title>
<link rel="stylesheet" th:href="@{/css/spring.css}" href="../../css/spring.css" />
</head>
<body>

  <h1>Validation Example</h1>

  <th:block th:if="${formData}" th:object="${formData}">
    <p>
      <strong>The server has received your submission:</strong>
    </p>
    <table>
      <tr>
        <th>Name</th>
        <td th:text="*{name}"></td>
      </tr>
      <tr>
        <th>Mail</th>
        <td th:text="*{mail}"></td>
      </tr>
      <tr>
        <th>Age</th>
        <td th:text="*{age}"></td>
      </tr>
      <tr>
        <th>Comment</th>
        <td th:text="*{comment}"></td>
      </tr>
    </table>
  </th:block>

  <p>Enter all fields and click on submit.</p>

  <form action="/" th:formaction="@{/}" th:object="${data}" method="post">

  <fieldset>
    <div>
      <label for="name">Name</label>
      <input type="text" th:field="*{name}" th:errorclass="fielderror" />
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="error"></span>
    </div>

    <div>
      <label for="mail">Mail</label>
      <input type="email" th:field="*{mail}" th:errorclass="fielderror" />
      <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" th:class="error"></span>
    </div>

    <div>
      <label for="age">Age</label>
      <input type="text" th:field="*{age}" th:errorclass="fielderror"/>
      <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:class="error"></span>
    </div>

    <div>
      <label for="comment">Comment</label>
      <textarea name="comment" th:field="*{comment}" th:errorclass="fielderror"></textarea>
      <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" th:class="error"></span>
    </div>
  </fieldset>

  <div>
    <input type="submit" name="submit" />
  </div>

  </form>

</body>
</html>
