<form #messageForm="ngForm" (ngSubmit)="onMessageSend()" class="message-form">
  <mat-form-field class="message-form-input">
    <input matInput placeholder="Enter a message title" name="title" [(ngModel)]="message.title" required>
  </mat-form-field>

  <mat-form-field class="message-form-input">
    <input matInput placeholder="Enter your name" name="author" [(ngModel)]="message.author" required>
  </mat-form-field>

  <mat-form-field class="message-form-input">
    <textarea matInput placeholder="Enter your message" name="content" [(ngModel)]="message.content" required></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" [disabled]="!messageForm.form.valid">Send</button>
</form>
